html{
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    margin: 0;
    height: 100%;
}

.container-login {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.container-cadastro{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

/* Remove as setas no Chrome, Edge e Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}